@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"),
    url("../fonts/Gilroy-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/Gilroy-SemiboldItalic.woff") format("woff"),
    url("../fonts/Gilroy-SemiboldItalic.ttf") format("truetype");
  font-style: bold;
}
* {
  margin: 0px;
  padding: 0px;
}

input {
  position: fixed;
  margin: 0 auto;
  font-size: 30px;
  width: 700px;
  z-index: 100;
  line-height: 100px;
  border-color: black;
  border-radius: 3000px;
  border-width: 1px;
}
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form
{
    height: 96px;
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #e16868;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}
#box {
  font-size: 30px;
  z-index: 101;
  position: fixed;
  bottom: 30px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  height: 250px;
  width: 700px;
  z-index: 48713425;
}
#box input {
  color: white;
  text-align: right;
}
.mesta {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: auto;
  left: 0%;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background-image: url(..//img/bigbackground.png);
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 100000000;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  top: 0;
  width: 50%;
  height: 50%;
  z-index: 1000000000;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
.mesta img {
  padding: 10px;
}
/*.mesta2 {
  position: absolute;
  height: 50%;
}*/
.email {
  text-align: 20%;
}

.otziv {
  position: absolute;
  width: 664.67px;
  height: 155px;
  left: 0px;
  top: 1370px;
}
.photokalevala {
  position: absolute;
  width: 881px;
  height: 614px;
  right: -20px;
  top: 650px;
}
.mestaname {
  position: absolute;
  height: 123px;
  left: 99px;
  top: 127px;

  font-family: Gilroy;
  font-style: bold;
  font-weight: 800;
  font-size: 100px;
  line-height: 123px;
  /* identical to box height */

  display: flex;
  align-items: center;
  z-index: 10;

  color: #000000;
}
.footermesta {
  position: absolute;
  width: 809px;
  height: 418px;
  left: 51px;
  top: 3039px;
}
.location {
  position: absolute;
  width: 1055px;
  height: 1041px;
  left: 0px;
  top: 2000px;
  background-color: none;
  border-color: none;
  border: none;
  background: none;
}
.mestaopis {
  position: absolute;
  width: 556px;
  height: 58px;
  left: 99px;
  top: 267px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  /* identical to box height */

  display: flex;
  align-items: center;
  z-index: 10;

  color: #000000;
}
.backmesta {
  position: absolute;
  width: 150px;
  height: 150px;
  right: -45%;
  top: 200px;
}
.upmesta {
  position: absolute;
  width: 100%;
  height: 23%;
  left: -5px;
  top: -5px;
}
.boxbott {
  width: 700px;
  height: 230px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid;
  margin: auto;
  background: black;
}
.button {
  padding: 10px;
  background-color: black;
  border-color: white;
  border: none;
}
#menu {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99934567890987654356;
  width: 841px;
  height: 100%;
  align-items: top;
  justify-content: center;
  transition: 0.8s;
  transform: translateX(-100%);
  border-radius: 0 40px 40px 0;
  border-color: black black black black;
  border-width: 5px;
  border-style: solid;
}
.menu-list {
  padding-top: 10%;
  padding-left: 55px;
  color: black;
  font-size: 100px;
  z-index: 999;
  display: flex;
  align-items: right;
  height: 40%;
  flex-direction: column;
  border-color: black black black black;
  border-style: solid;
  height: 50%;
}
a {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 50px;
}
.menu-list a {
  z-index: 999;
  text-decoration: none;
  font-weight: 900;
  color: black;
}
.menu-list a:hover {
  color: black;
  text-decoration: none;
}
.close {
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 969696;
}
.info {
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: #ffffff;
  position: absolute;
  width: 611px;
  height: 272px;
  left: 115px;
  top: 300px;
}
.kvantorium {
  position: absolute;
  width: 394px;
  height: 53px;
  left: 115px;
  top: 519px;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}
.poddde {
  position: absolute;
  width: 331px;
  height: 53px;
  left: 115px;
  top: 922px;

  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.pmup {
  position: absolute;
  width: 611px;
  height: 106px;
  left: 115px;
  top: 1035px;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.pmup_image {
  position: absolute;
  width: 538px;
  height: 306px;
  left: 151px;
  top: 1201px;
}
.agr10 {
  position: absolute;
  width: 166px;
  height: 53px;
  left: 115px;
  top: 1567px;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 0.5;
}

.line {
  position: absolute;
  width: 765px;
  height: 0px;
  left: 38px;
  top: 747px;

  border: 4px solid rgba(227, 227, 227, 0.5);
}
.info_button {
  size: 50px;
  padding: 0px;
  position: fixed;
  background-color: none;
  border-color: none;
  border: none;
  z-index: 1020;
  background: none;
}
.under {
  background-color: white;
  border-color: red;
  border-width: 2px;
  border-radius: 20px;
  padding: 0 35px 2px 35px;
  font-size: 25px;
  z-index: 459;
  position: fixed;
  margin-top: 160px;
  margin-left: 162px;
  display: flex;
}
.under1 {
  background-color: white;
  border-color: red;
  border-width: 2px;
  border-radius: 20px;
  padding: 0 40px 2px 40px;
  font-size: 25px;
  z-index: 459;
  position: fixed;
  margin-top: 160px;
  margin-left: 345px;
  display: flex;
}
.under2 {
  background-color: white;
  border-color: red;
  border-width: 2px;
  border-radius: 20px;
  padding: 0 40px 2px 40px;
  font-size: 25px;
  z-index: 459;
  position: fixed;
  margin-top: 160px;
  margin-left: 505px;
  display: flex;
}
.under3 {
  background-color: white;
  border-color: red;
  border-width: 2px;
  border-radius: 20px;
  padding: 0 40px 2px 40px;
  font-size: 25px;
  z-index: 459;
  position: fixed;
  margin-top: 160px;
  margin-left: 680px;
}
.mesta {
  position: absolute;
  margin-top: 7%;
  margin-left: 2.5%;
  z-index: 500;
}
.image {
  z-index: 45999999;
  position: fixed;
  margin-top: 100px;
  margin-left: 600px;
}
.under:hover {
  background-color: #c72d2d;
  color: white;
  transition: 0.4s linear;
}
.under1:hover {
  background-color: #c72d2d;
  color: white;
  transition: 0.4s linear;
}
.under2:hover {
  background-color: #c72d2d;
  color: white;
  transition: 0.4s linear;
}
.under3:hover {
  background-color: #c72d2d;
  color: white;
  transition: 0.4s linear;
}
.top {
  font-size: 50px;
  padding-left: 5%;
  z-index: 2;
}
.container {
  padding: 0px;
  margin: 0px;
  width: 90%;
  margin-left: 4%;
  z-index: 9999;
  position: relevant;
  border-color: white white red white;
  border-style: solid;
  border-radius: 0 40px 0 0;
}
.footer {
  position: relative;
  width: 92%;
  margin-left: 4%;
  position: fixed;
  bottom: 99%;
}
.help {
  padding-top: 10%;
}
.help h1 {
  padding-left: 3%;
  padding-top: 5%;
  color: grey;
}
.bottom {
  z-index: 4873434;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5%;
  border-radius: 75px 75px 0 0;
  background-color: #c72d2d;
  color: white;
  display: flex;
  text-align: center;
}
